%li.card
  = link_to repo['html_url'] do
    = image_tag repo['owner']['avatar_url'], class: 'card-img'
  %h4.repo_name
    = link_to repo['full_name'], repo['html_url']

  %ul.no-bullet.body-text
    %li
      = repo['watchers_count']
      = 'watchers'.pluralize(repo['watchers_count'])
    %li
      = repo['stargazers_count']
      = 'stars'.pluralize(repo['stargazers_count'])
    %li
      = repo['forks_count']
      = 'forks'.pluralize(repo['forks_count'])
    %li
      = repo['open_issues_count']
      = 'open issues'.pluralize(repo['open_issues_count'])
