%main
  %header
    %h1= link_to 'Github Repos', '/'

  = render partial: 'repos/search'

  %section#results
    = render partial: 'shared/errors', locals: { errors: @errors.compact }

    %ul#results-table.no-bullet
      - @repos.compact.each do |repo|
        = render partial: 'repos/repo', locals: { repo: repo }
