@import "./colours.scss";

.card {
  background-color: $silver;
  border: 1.2rem $white double;
  margin: 0.5rem;
  padding: 1rem 1rem;
  width: 14rem;
}

.card-img {
  margin: 0.5rem auto;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1rem $white double;
  
  &:hover {
    border-color: $grey !important;
  }
}
