@import "./colours.scss";

main {
  color: $white;
  font-weight: bold;
  font-family: serif;
}

.repo_name {
  margin: 0 auto 0.5rem;
  word-wrap: break-word;
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  font-weight: bold;
  color: $white;

  &:hover {
    color: $grey !important;
  }
}
