@import "./colours.scss";

#q {
  padding: 0.4rem;
  color: $black;
  border: 1px solid #black;
  border-radius: 5px;
  outline: none;
  border-color: $grey;
  box-shadow: 0 0 8px $grey;
}

.search-button {
  padding: 0.2rem;
  background-color: $white;
  color: $grey;
  font-weight: bold;
  border: 0.4rem $grey double;
  
  &:hover {
    background-color: $grey;
    color: $white;
    border-color: $white !important;
  }
}
