@import "./colours.scss";

body {
  background-color: $silver;
  height: 100%;
  width: 100%;
}

main {
  padding: 0 3rem;
}

#results-table {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
  padding: 0;
}
